*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.col{
    padding: 0 12px;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
/* header */
header{
    background-color: #1b5191;
}
.header-box1{
    margin: 0 160px;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.news-header ul{
    display: flex;
}
.news-header ul li{
   border-right: 1px solid #fff;
   padding: 0 20px 0 0;
   margin: 10px 10px 10px 0 ;
   position: relative;
}
.news-header ul li:nth-child(2){
    margin-right: -10px;
    padding-left: 30px;
}
.news-header ul li img{
    position: absolute;
    top: -5px;
}
.news-header ul li:last-child{
    border-right-width:0 ;
}
.news-header ul li a{
    color: #fff;
    font-size :14px;
}
.news-header ul li a i{
    padding-right: 10px;
}
.news-header ul li  a p img{
   position: absolute;
   top: 30%;
   left: -15%;
}
.news-header ul li  a span img{
    position: absolute;
    top: 10%;
    left: 5%;
 }
.header-box2-item{
    display: flex;
    margin: 0 160px;
    padding: 20px 0;
    position: relative;
}
.header-box2-item img{
    width: 150px;
    height: 60px;
}
.header-box2-item .menu {
    display: flex;
    border: 1px solid #fff;
    height: 38px;
    margin-left: 70px;
    margin-top: 5px;
    padding: 0 10px; 
    border-radius: 4px;
    position: relative;
}
.header-box2-item h3{
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
   
}
.header-box2 .menu span{
    margin-left: 30px; 
    color: #fff;
    line-height: 37px;
}
/* menu */
.header-box2 .menu {
    margin-left: 100px;
}
.list-menu ul{
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    
}
.list-menu::before{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
}
.list-menu ul li{
    padding: 10px 10px 10px 0;
    border: 1px solid #ebebeb;
}
.list-menu ul li a{
    color: #575454; 
    font-size: 14px;
    position: relative;
}
.list-menu ul li img{
    width: 16px;
    height: 16px;
    margin: 0 10px;
}
.list-menu ul li a i{
    margin-left: 50px;
}
.list-menu .sub-menu{
    background-color: #fff;
    position: absolute;
    top: 0.5%;
    left: 100%;
}
.list-menu .sub-menu li{
    padding-top: 13px;
    padding-left: 15px;
}




.search-header {
    display: flex;
    width: 40%;
}
.header-box2-item .search-header input{
    margin-top: 5px;
    border-radius: 4px;
    margin-left: 5px;
    border: 1px solid #fff;
    padding: 15px;
    font-size: 11px;
    height: 38px;
    width: 100%;

}
.header-box2-item input[type="submit"]{
    background-color: #ffc000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px 4px 4px 0;
    font-size: 11px;
    text-align: center;
    width: 80px;
    height: 38px;
    border: 1px solid #fff;
    margin-top: 5px;
    margin-left: -79px;
    cursor: pointer;
    padding: 10px;
}
.header-box2-right ul{
    display: flex;
    position: absolute;
    right: 0.5%;
}
.header-box2-right ul li{
    color: #ffff;
    opacity: 0.8;
    line-height: 48px;
    margin-left: 30px;
}
.header-box2-right ul li a {
    color: #fff;
    margin-left: 5px;
}
.header-box2-right ul li a i{
    font-size: 18px;
}
/* form */
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
.form {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2874d2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #5496e5;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #2874d2;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }

 
/* footer */
footer{
    background-color: #302f34;
    
}
.box-1-footer{
    background-color: #2775d2;
    color: #fff;
    
}
.box-1-footer-info{
    display: flex;
    margin: 0 160px;

}
.box-1-footer-img{
    width: 20%;
    margin: 50px 0;
}
.box-1-footer-img img{
    width: 100%;
}
.box-1-footer-left{
    margin-top: 60px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 150px;
}
.box-1-footer-right{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box-1-footer-right a{
    color: #ffc06d;
}
.box-1-footer-right ul li{
    margin: 10px 0;
}
.box-2-footer{
    display: flex;
    justify-content: space-between;
    margin: 30px 160px;
    border-bottom: 1px solid #fff;
    padding-right: 100px;
}
.box-2-footer p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
}
.box-2-footer ul{
    margin-bottom: 50px;
}
.box-2-footer li a{
    color: #848b99;
    font-size: 13px;
    padding: 10px 0;
}
.box-2-footer ul li a{
    display: flex;
}
.box-2-footer  .icon li{
    display: flex;
    margin-left: -10px;
}
.box-2-footer  .icon li a{
    padding-left: 10px;
    font-size: 20px;
    
}
.box-2-footer  .icon li a .fb{
    color: #3b5998;
}
.box-2-footer  .icon li a .twitter{
    color: #1db4f6;
}
.box-2-footer  .icon li a .pinterest{
    color: #bd081c;
}
.box-2-footer  .icon li a .google-plus{
    color: #d84734;
}
.box-2-footer  .icon li a .youtube{
    color: #ff0000;
}
.box-3-footer {
    margin: 30px 160px;
    color: #fff;
    display: flex;
}
.box-3-footer  ul li{
    padding: 10px 0;
    color: #848b99;
    font-size: 15px;
}
.box-3-footer  ul p {
    font-weight: 700;
    line-height: 30px;
}
.box-3-footer a{
    margin-left: 400px;
    padding: 15px 30px;
    border-left: 1px solid #fff;
    color: #848b99;
    line-height: 23px;
    font-style: italic;
    opacity: 0.5;
    font-size: 17px;
}
.box-4-footer{
  background-color: #201f24;
  text-align: center;
  
}
.box-4-footer p {
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    margin: 0 160px;
}
.box-4-footer p a{
    color: #fff;
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
}
.box-1-footer-right a:hover{
    text-decoration: underline;
}
.box-2-footer ul li a:hover{
    margin-left: 10px;
    color: #1db4f6;

    transition: 0.2s ease-in;
}
.box-2-footer ul:last-child li a:hover{
    margin-left: 0;
}
.box-3-footer a:hover{
    color: #1db4f6;
    opacity: 1;
    text-decoration: underline;
}
.box-4-footer p a:hover {
    color: #1db4f6;

}

/* menu */
.list-menu,.sub-menu {
    display: none;
}
.menu h3:hover >.list-menu{
    display: block;

}
.menu li a:hover {
    color: #1db4f6; 
    text-decoration: underline;

}
.menu ul>li:first-child:hover >.sub-menu{
    display: block;
    position: absolute;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    0%  { right:0; top:0;}
    50%  { left:220px; top:0;}

}
    /* /footer */
/* /hover */
