*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.col{
    padding: 0 12px;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
/* header */
header{
    background-color: #1b5191;
}
.header-box1{
    margin: 0 160px;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.news-header ul{
    display: flex;
}
.news-header ul li{
   border-right: 1px solid #fff;
   padding: 0 20px 0 0;
   margin: 10px 10px 10px 0 ;
   position: relative;
}
.news-header ul li:nth-child(2){
    margin-right: -10px;
    padding-left: 30px;
}
.news-header ul li img{
    position: absolute;
    top: -5px;
}
.news-header ul li:last-child{
    border-right-width:0 ;
}
.news-header ul li a{
    color: #fff;
    font-size :14px;
}
.news-header ul li a i{
    padding-right: 10px;
}
.news-header ul li  a p img{
   position: absolute;
   top: 30%;
   left: -15%;
}
.news-header ul li  a span img{
    position: absolute;
    top: 10%;
    left: 5%;
 }
.header-box2-item{
    display: flex;
    margin: 0 160px;
    padding: 20px 0;
    position: relative;
}
.header-box2-item img{
    width: 150px;
    height: 60px;
}
.header-box2-item .menu {
    display: flex;
    border: 1px solid #fff;
    height: 38px;
    margin-left: 70px;
    margin-top: 5px;
    padding: 0 10px; 
    border-radius: 4px;
    position: relative;
}
.header-box2-item h3{
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
   
}
.header-box2 .menu span{
    margin-left: 30px; 
    color: #fff;
    line-height: 37px;
}
/* menu */
.header-box2 .menu {
    margin-left: 100px;
}
.list-menu ul{
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    
}
.list-menu::before{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
}
.list-menu ul li{
    padding: 10px 10px 10px 0;
    border: 1px solid #ebebeb;
}
.list-menu ul li a{
    color: #575454; 
    font-size: 14px;
    position: relative;
}
.list-menu ul li img{
    width: 16px;
    height: 16px;
    margin: 0 10px;
}
.list-menu ul li a i{
    margin-left: 50px;
}
.list-menu .sub-menu{
    background-color: #fff;
    position: absolute;
    top: 0.5%;
    left: 100%;
}
.list-menu .sub-menu li{
    padding-top: 13px;
    padding-left: 15px;
}




.search-header {
    display: flex;
    width: 40%;
}
.header-box2-item .search-header input{
    margin-top: 5px;
    border-radius: 4px;
    margin-left: 5px;
    border: 1px solid #fff;
    padding: 15px;
    font-size: 11px;
    height: 38px;
    width: 100%;

}
.header-box2-item input[type="submit"]{
    background-color: #ffc000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px 4px 4px 0;
    font-size: 11px;
    text-align: center;
    width: 80px;
    height: 38px;
    border: 1px solid #fff;
    margin-top: 5px;
    margin-left: -79px;
    cursor: pointer;
    padding: 10px;
}
.header-box2-right ul{
    display: flex;
    position: absolute;
    right: 0.5%;
}
.header-box2-right ul li{
    color: #ffff;
    opacity: 0.8;
    line-height: 48px;
    margin-left: 30px;
}
.header-box2-right ul li a {
    color: #fff;
    margin-left: 5px;
}
.header-box2-right ul li a i{
    font-size: 18px;
}
.header-box3 {
    background-color: #ffff;
}
.banner{
    display: flex;
    margin: 10px 160px 0 160px;
}
.banner-right{
    width: 74%;
    margin-top: 10px;
}
.banner-right img{
    width: 100%;

}
.banner-left {
    margin-top: 10px;
    width: 25%;
}
.banner-left a img{
    margin-left: 12px;
    width: 100%;
    
}

/* content */
.content {
    margin: 65px 160px;
   
}
.content .menu-content-top{
    background-color: #2874d2;
    display: flex;
    justify-content: space-between; 
    border-radius: 4px 4px 0  0 ;
}
.content .menu-content-top  >a{
    color: #fff;
    font-size: 18px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 22px;
}
.content .menu-content-top ul {
    display: flex;
}
.content .menu-content-top ul li{
    padding: 10px 0;
}
.content .menu-content-top ul li a{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin:  0 2px 0 0;
    padding: 10px 15px;
}
.content .img-product-1 ul{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.content .img-product-1 ul li{
    width: 24%;

}
.content .img-product-1 ul li img{
    width: 100%;
}
.list-1-product{
    display: flex;
}
.product .img-product{
    border-left: 1px solid #ebebeb;

}
.list-1-product .img-product img{
    width: 100%;
    height: 100%;
}
.list-1-product .item-product{
    display: flex;
    width: 100%;
    
}
.list-1-product ul li{
    text-align: center;
    border: 1px solid #ebebeb;
    position: relative;

}
.item-product .item .img a img{
    margin-top: 40px;
}
.product .div-info .div-info-title p {
    margin: 5px 0;
    padding-top: 20px;
    padding-bottom: 5px;
    border-top: 1px solid #ebebeb;
      

}
.product .item .div-info .div-info-title{
    height: 110px;
    
}
.product .item .div-info .div-info-title a{
    color: #2f2f33;
    font-weight: 700;
    line-height: 20px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    -webkit-line-clamp: 3; */
    
}

.price{ 
    margin-top: 10px;
}
.price .price-discount{
    color: #acacac;
    font-size: 12px;
    font-weight: 300;
    text-decoration:  line-through;
}
.price .price-no-discount{
    color: #e32323;
    font-size: 15px;
    font-weight: 500px;
}
.list-1-product{
    position: relative;
}
.list-1-product .item-product li:first-child::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
        
}
.list-1-product .item-product li:first-child:hover::before {
    display: block;
    cursor: pointer;
}


.product .list-1-product .icon-product,
.product .list-2-product .icon-product{
    background-color: #f1f0f0;
    border-radius: 80px;
    position: absolute;
    top: 48%;
    left: 30%;
    padding: 5px ;
    display: none;
}
.product .icon-product i{
    font-size: 14px;
    color: #575454;
    padding: 5px 10px; 
    border-right: 1px solid #fff;
}
.product .icon-product i:last-child{
    border-right-width:0 ;
}
.product .hover .img:hover .icon-product{
    display: block;
    opacity: 0.6;
    transform: scale(1.2);
    transition: 0.5s;
}
.icon-product i:hover {
    color: black;
}
.item .div-info > a:hover{
    color: #1db4f6; 
}
.product .list-2-product ul{
    display: flex;
    text-align: center;
}
.list-2-product ul li {
    width: 16.6667%;
    border: 1px solid #ebebeb;
    position: relative;
    
}
.list-2-product .item .img a img{
    margin-top: 40px;
    border: 0;
}
.list-1-product  .price,
.list-2-product .price {
    margin-bottom: 60px;
}
.product .item .img::before {
    position: absolute;
    left: 4%;
    width: 92%;
    height: 62%;
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}
.product .item  .img:hover::before{
    display: block;
    cursor: pointer;
}
.product .slide ul {
    background-color: #fbfcf7;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
}
.slide ul li {
    line-height:23.8px;
    align-items:center;
    display:flex;
    margin-left:30px;
    padding: 20px 0;
}
.slide ul li:hover img {
    transform: scale(1.3);
    transition: 0.5s;
}


/* menu-content-main" */
.content .menu-content-main{
    background-color: #ffc000;
    display: flex;
    justify-content: space-between; 
    border-radius: 4px 4px 0  0 ;
    margin-top: 30px;

}
.content .menu-content-main  >a{
    color: #fff;
    font-size: 18px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 18px;
}
.content .menu-content-main ul {
    display: flex;
}
.content .menu-content-main ul li{
    padding: 10px 0;
}
.content .menu-content-main ul li a{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin:  0 2px 0 0;
    padding: 10px 15px;
}
.img-product-2 ul{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.img-product-2 ul li{
    width: 49%;
}
.img-product-2 ul li img{
    width: 100%;
}
/* menu-content-bottom" */
.content .menu-content-bottom{
    background-color: #dd2b2b;
    display: flex;
    justify-content: space-between; 
    border-radius: 4px 4px 0  0 ;
    margin-top: 30px;

}
.content .menu-content-bottom  >a{
    color: #fff;
    font-size: 18px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 22px;
}
.content .menu-content-bottom ul {
    display: flex;
}
.content .menu-content-bottom ul li{
    padding: 10px 0;
}
.content .menu-content-bottom ul li a{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin:  0 2px 0 0;
    padding: 10px 15px;
}
.img-product-3 img{
    width: 100%;
}
.support ul{
    display: flex; 
    margin-top: 30px;
    border: 1px solid #ebebeb;
    padding: 50px 0;
    
}
.support ul li {
    display: flex;
    width: 25%;
    margin-left: 50px;
    border-right: 1px solid #ebebeb;

}
.support ul li:last-child{
    border-right-width:0 ;
}
.support ul li .info{
    color: #2f2f33;
    font-size: 14px;
    line-height: 23px;
    margin-left: 20px;
}
.support ul li .info p{
    color: #2f2f33;
    font-weight: 700;
   
}
.support ul li .info span{
    color: #999;
   
}



/* footer */
footer{
    background-color: #302f34;
    
}
.box-1-footer{
    background-color: #2775d2;
    color: #fff;
    
}
.box-1-footer-info{
    display: flex;
    margin: 0 160px;

}
.box-1-footer-img{
    width: 20%;
    margin: 50px 0;
}
.box-1-footer-img img{
    width: 100%;
}
.box-1-footer-left{
    margin-top: 60px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 150px;
}
.box-1-footer-right{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box-1-footer-right a{
    color: #ffc06d;
}
.box-1-footer-right ul li{
    margin: 10px 0;
}
.box-2-footer{
    display: flex;
    justify-content: space-between;
    margin: 30px 160px;
    border-bottom: 1px solid #fff;
    padding-right: 100px;
}
.box-2-footer p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
}
.box-2-footer ul{
    margin-bottom: 50px;
}
.box-2-footer li a{
    color: #848b99;
    font-size: 13px;
    padding: 10px 0;
}
.box-2-footer ul li a{
    display: flex;
}
.box-2-footer  .icon li{
    display: flex;
    margin-left: -10px;
}
.box-2-footer  .icon li a{
    padding-left: 10px;
    font-size: 20px;
    
}
.box-2-footer  .icon li a .fb{
    color: #3b5998;
}
.box-2-footer  .icon li a .twitter{
    color: #1db4f6;
}
.box-2-footer  .icon li a .pinterest{
    color: #bd081c;
}
.box-2-footer  .icon li a .google-plus{
    color: #d84734;
}
.box-2-footer  .icon li a .youtube{
    color: #ff0000;
}
.box-3-footer {
    margin: 30px 160px;
    color: #fff;
    display: flex;
}
.box-3-footer  ul li{
    padding: 10px 0;
    color: #848b99;
    font-size: 15px;
}
.box-3-footer  ul p {
    font-weight: 700;
    line-height: 30px;
}
.box-3-footer a{
    margin-left: 400px;
    padding: 15px 30px;
    border-left: 1px solid #fff;
    color: #848b99;
    line-height: 23px;
    font-style: italic;
    opacity: 0.5;
    font-size: 17px;
}
.box-4-footer{
  background-color: #201f24;
  text-align: center;
  
}
.box-4-footer p {
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    margin: 0 160px;
}
.box-4-footer p a{
    color: #fff;
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
}
.box-1-footer-right a:hover{
    text-decoration: underline;
}
.box-2-footer ul li a:hover{
    margin-left: 10px;
    color: #1db4f6;

    transition: 0.2s ease-in;
}
.box-2-footer ul:last-child li a:hover{
    margin-left: 0;
}
.box-3-footer a:hover{
    color: #1db4f6;
    opacity: 1;
    text-decoration: underline;
}
.box-4-footer p a:hover {
    color: #1db4f6;

}

/* menu */
.list-menu,.sub-menu {
    display: none;
}
.menu h3:hover >.list-menu{
    display: block;

}
.menu li a:hover {
    color: #1db4f6; 
    text-decoration: underline;

}
.menu ul>li:first-child:hover >.sub-menu{
    display: block;
    position: absolute;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    0%  { right:0; top:0;}
    50%  { left:220px; top:0;}

}
    /* /footer */
/* /hover */
